html {
	@include root-font-size($root-font-size);
}


.qc {
    @include base(1px);
}

.block {
	@include block($sky,$snow);
	@include h2 ($h2);
	@include web-font($web-font);
	padding-right: 10px;    
}

.block:before {
    @include content($content,$banana,$float-left);
	font-size: 3em;
	font-family: Georgia;
	margin: 5px 10px 0px -10px;
}
.image {
	@include radius($border-radius);
	border: 0;
	position: relative;
}