@mixin base($border-width) {
    width: $default-width;
    border-width: $border-width;
    borer-style: solid; //border-style: $default-border-style;
    padding: $default-padding;
}

@mixin block($color1, $color2) {
	border-left: 5px solid $color1;
	background-color: $color2;	
}
@mixin content($content,$color,$float-left) {
	content: $content;
    color: $color;
    float: $float-left;
}
@mixin radius($border-radius) {
    border-radius: $border-radius;
}
@mixin display-inline($inline-block) {
    display: $inline-block;
}
@mixin root-font-size($root-font-size) {
    font-size: $root-font-size;
}

@mixin h1($h1) {
    font-size: $h1;
}
@mixin h2($h2) {
    font-size: $h2;
}
@mixin h3($h3) {
    font-size: $h3;
}
@mixin h4($h4) {
    font-size: $h4;
}
@mixin h5($h5) {
    font-size: $h5;
}
@mixin h6($h6) {
    font-size: $h6;
}

@mixin web-font($web-font) {
    font-family: $web-font;
}