@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
$root-font-size: 10px;
$web-font: 'Peddana', serif;

$h1: 2.4rem;
$h2: 2.0rem;
$h3: 1.6rem;
$h4: 1.3rem;
$h5: 1.0rem;
$h6: 0.8rem;

