$default-width: 100%;
$default-height: 100%;
$default-padding: 1em;
$default-margin-top: 1em;
$default-margin-right: 1em;

$content: "\201C";
$text-align-center: center;
$text-align-left: left;
$float-left: left;

$border-radius: 6px;
$inline-block: inline-block;